.*env
*.pyc
.vscode
.idea

*/luojiawei2022/*

# Processed data
data/processed/
data/interim/
data/graphs/debug/*
data/*

# Quarto generated output
*.quarto/
*_book/
*_site/
*_files/
/.quarto/
*/index.*
!*/*.qmd

/.luarc.json
**/*.npy
**/*.png
**/*.pyd
**/target/*